.detail {
  position: relative;
  height: calc(100vh + 50px);
  width: 100%;
  padding-top: 50px;
}

.nav__container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 50px;
  padding: 20px;
  margin: 0;
}

.nav__backbtn {
  color: grey;
  height: 40px;
  margin-top: -15px;
  margin-left: -5px;
  font-size: 20px;
  padding: 0;
}

.detail__backdrop {
  position: absolute;
  background: center/cover no-repeat;
  opacity: 0.5;
  top: 50px;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.detail__container {
  display: flex;
  width: 100%;
  position: relative;
  height: 100%;
  padding: 0 50px;
}

.detail__bottom-box {
  position: relative;
}

/* .detail__poster {
  position: absolute;
  display: inline-block;
  background: center/cover no-repeat;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  /* width: 30%;
  height: 85%; 
  margin-left: 50px;
  border-radius: 10px;
} */

.detail__poster {
  width: 30%;
  background-size: cover;
  height: 95%;
  background-position: center center;
  border-radius: 5px;
}

.detail__info {
  width: 70%;
  height: 70%;
  margin-left: 10px;
  color: white;
}

.detail__title {
  letter-spacing: 35px;
  padding-top: 15px;
  padding-left: 5vw;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 3px;
}

.year {
  color: grey;
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 1px;
  padding-left: 0;
  margin-left: 0;
}

.star {
  color: lightgray;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 1px;
}

.genres {
  color: lightgray;
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 1px;
  padding-left: 0;
  margin-left: 0;
}

.detail__videoContainer {
  height: 20px;
  vertical-align: middle;
}

.youtube {
  height: 100%;
  width: 30px;
  float: left;
  margin-right: 5px;
  vertical-align: middle;
  display: block;
  font-size: 18px;
}

.detail__videoName {
  display: inline;
  vertical-align: middle;
}

.detail__description {
  display: inline-block;
  width: 90%;
  max-width: 550px;
  padding-left: 5vw;
  margin-top: 50px;
  /* margin-right: 10vw; */
  color: white;
  letter-spacing: 3px;
}

.detail__overview {
  display: inline-block;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 2.2px;
}

.detail__overview p {
  margin-bottom: -4px;
}

a {
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .nav__container {
    display: block;
  }

  .detail__backdrop {
    top: 50px;
    height: 280px;
    filter: blur(0);
    -webkit-filter: blur(0);
  }

  .detail__container {
    padding-left: 30px;
    padding-right: 15px;
  }

  .detail__poster {
    position: absolute;
    margin-top: 80px;
    width: 140px;
    height: 224px;
  }
  .detail__info {
    /* vertical-align: baseline; */
    margin-top: 100px;
    display: block;
    justify-content: center;
    width: 100%;
    margin-bottom: -100px;
  }

  .detail__title {
    display: block;
    font-size: 24px;
    letter-spacing: 3px;
    margin-left: 120px;
    color: white;
    margin-top: 55px;
    margin-bottom: 7px;
  }

  .year {
    font-size: 14px;
    color: darkgray;
    margin-left: 0px;
    margin-top: 15px;
    letter-spacing: 2px;
  }

  .star {
    font-size: 12px;
    color: lightgray;
    margin-top: 15px;
    margin-bottom: 5px;
    letter-spacing: 1px;
  }

  .genres {
    margin: 0;
    color: lightgray;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 1px;
  }

  .detail__description {
    display: block;
    width: 95%;
    margin-left: 0px;
    padding: 0px;
    letter-spacing: 3px;
    float: left;
  }
}
