* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  height: 100%;
}

form {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  width: 80%;
}

input {
  all: unset;
  background-color: white;
  width: 90%;
  height: 100%;
  text-align: center;
  border-radius: 15px;
  color: black;
  font-size: 16px;
  width: 100%;
}

.search__container {
  overflow-x: hidden;
  padding-top: 50px;
  padding-bottom: 40px;
}

.flicking {
  margin-top: 50px;
}
