* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  height: 100%;
}

.container {
  overflow-x: hidden;
  padding-bottom: 40px;
}

.flicking {
  margin-top: 50px;
}
