.nav__bottom {
  margin: auto;
  z-index: 1;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  display: flex;
  background-color: black;
  padding: 0 20px;
  padding-top: -15px;
}

.nav__bottom__content {
  margin: auto;
}

.nav__icon {
  font-size: 20px;
}

.nav__bottom a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
  font-weight: 600;
}
