.panel__container {
  display: flex;
  position: relative;
  padding-left: calc(15%);
  height: 50vh;
  width: 100%;
  /* padding-left: calc(50% / 7); */
  border: 0;
}

.panel__backdrop {
  position: absolute;
  background: center/cover no-repeat;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.4;
}

.panel__poster {
  display: inline-block;
  overflow: hidden;
  justify-content: center;
  background: center/cover no-repeat;
  width: 100px;
  height: 160px;
  border-radius: 5px;
}

.panel__content {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.panel__data {
  margin-left: 50px;
  width: 50%;
  align-items: flex-start;
}

.panel__title {
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.panel__vote {
  line-height: 20px;
  color: white;
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 15px;
}

.panel__overview {
  color: rgb(220, 220, 220);
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 500;
  /* line-height: 20px; */
}

.panel__button {
  text-decoration: none;
  margin-right: 0;
  display: inline-block;
  margin-top: 12px;
  background-color: #e74c3c;
  color: white;
  padding: 7px 10px;
  width: 100px;
  font-size: 14px;
  border-radius: 3px;
  text-align: center;
}

.panel__star {
  color: #ffc83d;
  font-size: 10px;
  margin-right: 5px;
}

@media screen and (max-width: 768px) {
  .panel__container {
    padding-left: calc(7%);
    height: 280px;
  }

  .panel__button {
    text-decoration: none;
    margin-right: 0;
    display: inline-block;
    margin-top: 12px;
    background-color: #e74c3c;
    color: white;
    padding: 7px 0;
    width: 85px;
    font-size: 12px;
    border-radius: 3px;
    text-align: center;
  }
}
